peewee
langchain
pydantic
firebase_admin
fastapi
pgvector
psycopg2-binary
python-multipart
beautifulsoup4
youtube-transcript-api
unstructured
gptcache
lxml
Pillow
XlsxWriter
python-dotenv
qdrant_client
pymongo
openai
tiktoken
uvicorn
requests
six
httpx