peewee
langchain
pydantic
firebase_admin
fastapi
pgvector
psycopg2-binary
python-multipart
beautifulsoup4
youtube-transcript-api
unstructured
python-pptx
gptcache
qdrant_client
openai
tiktoken
uvicorn