beautifulsoup4
fastapi
httpx
langchain==0.0.331
lxml
numpy
openai==0.28.1
pdfkit
duckduckgo-search
Pillow
pydantic
pymongo
pypandoc
pytesseract
python-dotenv
python-multipart
requests
retrying
six
tiktoken
unstructured[all]
uvicorn
XlsxWriter
youtube-transcript-api
firebase-admin
qdrant-client
Markdown
redis
google-auth
google-auth-oauthlib


opentelemetry-distro==0.41b0
opentelemetry-exporter-otlp==1.20.0
opentelemetry-instrumentation-fastapi==0.41b0
opentelemetry-instrumentation-pymongo==0.41b0
opentelemetry-instrumentation-redis==0.41b0

